<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title>Chapter 10</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script>
		angular.module("exampleApp",[])
		.controller("defaultCtrl",function($scope){
			$scope.todos = [
			    {action:"Environmental Engineering, ECUST",complete:true},
			    {action:"Chemical Engineering, UMich",complete:true},
			    {action:"Computer Science, Gatech",complete:false},
			    {action:"Computational Finance, UW",complete:false},
			    {action:"Electrical Engineering, UCLA",complete:false},
			    {action:"Material Science and Engineering, Columbia",complete:false},
			    {action:"Mechanical Engineering, MIT",complete:false},
			    {action:"Biology, RWTH",complete:false},
			    {action:"Civil Engineering, HKUST",complete:false}];
		});
	</script>
</head>

<body>
	<div id = "todoPanel" class = "panel" ng-controller="defaultCtrl">
		<h3 class = "panel-header">To Do List</h3>
		<!-- Data items will go here... -->
		<!-- <div>There are {{todos.length}} items.</div>
		
		<div>
			There are <span ng-bind = "todos.length"></span> items.
		</div>
	
		<div ng-bind-template=
			 "First:{{todos[0].action}}. Second:{{todos[1].action}}">
		</div>
		
		<div ng-non-bindable>
			AngularJS uses {{ and }} characters for templates.
		</div> -->
		
		<!-- <div class = "well">
			<div>The first item is:{{todos[0].action}}</div>
		</div>
		
		<div class="form-group well">
			<label for="firstItem">Set First Item:</label>
			<input name="firstItem" class="form-control" ng-model="todos[0].action"/>
		</div> -->
		
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Action</th>
					<th>Done</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in todos">
					<!-- <td>{{item.action}}</td>
					<td>{{item.complete}}</td> -->
					<td>{{$index+1}}</td>
					<td ng-repeat="prop in item">{{prop}}</td>
					
					<!-- <td ng-repeat="(key,value) in item">
						{{key}}={{value}}
					</td> -->
				</tr>
			</tbody>
		</table>	
	</div>
</body>
</html>