<!DOCTYPE html>
<html ng-app="exampleApp">
<!-- p459 -->
<head>
	<meta charset="UTF-8">
	<title>Chapter 17 custom forms</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script type="text/ng-template" id="triTemplate">
		<div class="well">
			<div class="btn-group">
				<button class="btn btn-default">Yes</button>
				<button class="btn btn-default">No</button>
				<button class="btn btn-default">Not Sure</button>
			</div>
			<span class="error" ng-show="myForm.decision.$error.confidence">
				You need to be sure
			</span>
		</div>
	</script>
	<style>
		*.error {
			color:red;
			font-weight:bold;
		}
	</style>
	<script>
		angular.module("exampleApp",[])
		.controller("defaultCtrl",function($scope){
			$scope.dataValue = "Not Sure";
		})
		.directive("triButton",function(){
			return{
				restrict:'E',
				replace:true,
				require:"ngModel",
				template:document.querySelector("#triTemplate").outerText,
				link:function(scope,element,attrs,ctrl){

					var validateParser = function(value){
						var valid = (value == "Yes" || value == "No");
						
					}
					
					ctrl.$formatters.push(function(value){
						return value == "Huh?" ? "Not Sure": value;
						// An array of formatter functions that transform 
						// $modelValue into $viewValue.
					});
					
					element.on("click",function(event){
						setSelected(event.target.innerText);
						scope.$apply(function(){
							ctrl.$setViewValue(event.target.innerText);
							// Updates the data-bound value.
						});
					});
					
					var setSelected = function(value){
						var buttons = element.find("button");
						buttons.removeClass("btn-primary");
						for(var i = 0; i < buttons.length; i++){
							if(buttons.eq(i).text() == value){
								buttons.eq(i).addClass("btn-primary");
							}
						}
					}
				/* 	setSelected(scope.dataValue); */
					ctrl.$render = function(){
						setSelected(ctrl.$viewValue || "Not Sure");
						//Returns the formatted value that should be displayed by the directive.
					}
					//This is the function that the NgModel controller 
					//calls to update the UI when the data-bound value changes. 
					//It is usually overridden by custom directives.
				}
			}
		});
	</script>
</head>
<body ng-controller="defaultCtrl">
	<div><tri-button ng-model="dataValue"/></div>
	<div class="well">
		Value:
		<select ng-model="dataValue">
			<option>Yes</option>
			<option>No</option>
			<option>Not Sure</option>
			<option>Huh?</option>
		</select>
	</div>
</body>
</html>