<!DOCTYPE html>
<html ng-app="exampleApp">
<!-- p349 -->
<head>
	<meta charset="UTF-8">
	<title>Chapter 14 Filters</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script>
		angular.module("exampleApp",[])
			.controller("defaultCtrl",function($scope){
				$scope.majors = [
				   	{name:"Environmental Engineering", category:"Engineering", price:10000, expiry:4},
				   	{name:"Chemical Engineering", category:"Engineering", price:66000, expiry:1},
				   	{name:"Electrical Engineering", category:"Engineering",price:62000, expiry:2},
				   	{name:"Mechanical Engineering", category:"Engineering",price:30000, expiry:1},
				   	{name:"Civil Engineering", category:"Engineering",price:15000, expiry:1},

				   	{name:"Computer Science", category:"Science", price:6000, expiry:2},
				   	{name:"Computational Finance and Risk Management", category:"Science", price:37800, expiry:2},
					{name:"Material Science",category:"Science",price:162000, expiry:6},
				   	{name:"Biology", category:"Science", price:3336, expiry:3},

				   	{name:"Juris Doctor",category:"Art",price:12885, expiry:2},
				   	
				   	{name:"Master of Medicine", category:"Medicine", price:18811,expiry:2}
				   	
				];

				/* for(var i = 0; i < $scope.majors.length;i++){
					$scope.majors[i].price = 
						"$"+Number($scope.majors[i].price).toFixed(2);
				} */
				/* $scope.getExpiryDate = function(days){
					var now = new Date();
					return now.setDate(now.getDate()+days);
				} */

				$scope.limitVal = "5";
				$scope.limitRange = [];
				for(var i = (0 - $scope.majors.length); i<=$scope.majors.length; i++){
					$scope.limitRange.push(i.toString());
					console.log(i.toString());
				}

				$scope.selectItems = function(item){
					return item.category == "Engineering" || item.name == "Computational Finance and Risk Management";
				};

				$scope.myMajorSorter = function(major) {
					return major.expiry < 2? 0:major.price;
				}
			});
	</script>
</head>

<body ng-controller="defaultCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
				Products
				<span class="label label-primary">{{majors.length}}</span>
			</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td>Name</td>
						<td>Category</td>
						<td>Expiry</td>
						<td class="text-right">Price</td>
					</tr>
				</thead>
				<tbody>
					<!-- <tr ng-repeat="p in majors | limitTo:limitVal"> -->
					<!-- <tr ng-repeat="p in majors | filter:{category:'Engineering'}"> -->
					<!-- <tr ng-repeat="p in majors | filter:selectItems"> -->
					<!-- <tr ng-repeat="p in majors | orderBy:'-price'"> -->
					<tr ng-repeat="p in majors | orderBy:[myMajorSorter,'price'] | limitTo:5">
						<!-- <td colspan="4">{{p | json}}</td> -->
						<td>{{p.name}}</td>
						<td>{{p.category}}</td>
						<td>{{p.expiry}}</td>
						<td class="text-right">{{p.price | currency}}</td>
						<!-- <td class="text-right">${{p.price | number:2}}</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>