<!DOCTYPE html>
<html ng-app="exampleApp">
<!-- p268 -->
<head>
	<meta charset="UTF-8">
	<title>Chapter 11</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script>
		angular.module("exampleApp",[])
		.controller("defaultCtrl",function($scope){
			
			$scope.todos = [
			    {action:"Environmental Engineering, ECUST",complete:true},
			    {action:"Chemical Engineering, UMich",complete:true},
			    {action:"Computer Science, Gatech",complete:true},
			    {action:"Computational Finance, UW",complete:false},
			    {action:"Electrical Engineering, UCLA",complete:false},
			    {action:"Material Science and Engineering, Columbia",complete:false},
			    {action:"Mechanical Engineering, MIT",complete:false},
			    {action:"Biology, RWTH",complete:false},
			    {action:"Civil Engineering, HKUST",complete:false}];
		});
	</script>
	<style>
		td >*:first-child {
			font-weight:bold
		}
	</style>
</head>

<body>
	<div id = "todoPanel" class = "panel" ng-controller="defaultCtrl">
		<h3 class = "panel-header">To Do List</h3>
		
		<div class="checkbox well">
			<label>
				<input type="checkbox" ng-model="todos[2].complete"/>
				Item 3 is complete
			</label>
		</div>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Action</th>
					<th>Done</th>
				</tr>
			</thead>
			
			<tr ng-repeat="item in todos | filter:{complete:'false'}">
				<td>{{$index+1}}</td>
				<td>{{item.action}}</td>
				<td>
					<!-- <span ng-hide="item.complete">(Incomplete)</span>
					<span ng-show="item.complete">(Done)</span> -->
					<span ng-if="!item.complete">(Incomplete)</span>
					<span ng-if="item.complete">(Done)</span>
				</td>
			</tr>
		</table>
	</div>
</body>