<!DOCTYPE html>
<html ng-app="exampleApp">
<!-- p532 -->
<head>
	<meta charset="UTF-8">
	<title>Chapter 20 Ajax</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script>
		angular.module("exampleApp",[])
		.config(function($httpProvider){
			$httpProvider.interceptors.push(function(){
				return {
	// The interceptor function is called before the request is made and is passed the configuration object
					request:function(config) {
						config.url = "majorData.json";
						return config;
					},
					response:function(response){
						console.log("Data count:"+response.data.length);
						return response;
					}
				}
			});
		})
		.controller("defaultCtrl",function($scope,$http){
			$scope.loadData = function(){
				$http.get("majorData.json").success(function(data){
					$scope.majors = data;
				});
			}
		})
	</script>
</head>
<body ng-controller="defaultCtrl">
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Field</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="majors.length">
						<td colspan="3" class="text-center">No Data</td>
					</tr>
					<tr ng-repeat="item in majors">
						<td>{{item.name}}</td>
						<td>{{item.field}}</td>
						<td>{{item.price | currency}}</td>
						
					</tr>
				</tbody>
			</table>
			<p>
				<button class="btn btn-primary" ng-click="loadData()">Load Data</button>
			</p>
		</div>
	</div>
</body>
</html>