<!DOCTYPE html>
<html ng-app="exampleApp">
<!-- p285 -->
<head>
	<meta charset="UTF-8">
	<title>Chapter 12</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script>
		angular.module("exampleApp",[])
		.controller("defaultCtrl",function($scope){
			
			$scope.todos = [
			    {action:"Environmental Engineering, ECUST",complete:true},
			    {action:"Chemical Engineering, UMich",complete:true},
			    {action:"Computer Science, Gatech",complete:true},
			    {action:"Computational Finance, UW",complete:false},
			    {action:"Electrical Engineering, UCLA",complete:false},
			    {action:"Material Science and Engineering, Columbia",complete:false},
			    {action:"Mechanical Engineering, MIT",complete:false},
			    {action:"Biology, RWTH",complete:false},
			    {action:"Civil Engineering, HKUST",complete:false}];

		    $scope.addNewItem = function(newItem){
			    if(angular.isDefined(newItem) && angular.isDefined(newItem.action)
					    && angular.isDefined(newItem.location)){
					$scope.todos.push({
						action:newItem.action + ", "+newItem.location,
						complete:false
					});
			    }
			};
		});
	</script>
</head>

<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header">
			To Do List
			<span class="label label-info">
				{{(todos | filter:{complete:'false'}).length}}
			</span>
		</h3>
		
		<div class="row">
			<div class="col-xs-6">
				<div class="well">
					<div class="form-group row">
						<label for="actionText">Action:</label>
						<input id="actionText" class="form-control"
							   ng-model="newTodo.action">
					</div>
					
					<div class="form-group row">
						<label for="actionLocation">Location:</label>
						<select id="actionLocation" class="form-control"
								ng-model="newTodo.location">
							<option>JHU</option>
							<option>CWRU</option>
							<option>Purdue</option>
						</select>
					</div>
					
					<button class="btn btn-primary btn-block"
							ng-click="addNewItem(newTodo)">
						Add		
					</button>
				</div>
			</div>
			
			<div class="col-xs-6">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Action</th>
							<th>Done</th>
						</tr>
					</thead>
					
					<tr ng-repeat="item in todos">
						<td>{{$index+1}}</td>
						<td>{{item.action}}</td>
						<td>{{item.complete}}</td>
						<td>
							<input type="checkbox" ng-model="item.complete">
						</td>
					</tr>	
				</table>
			</div>
		</div>
	</div>
</body>
</html>