<!DOCTYPE html>
<html ng-app="exampleApp">
<!-- p285 -->
<head>
	<meta charset="UTF-8">
	<title>Chapter 12</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script>
		angular.module("exampleApp",[])
		.controller("defaultCtrl",function($scope){
			
			$scope.todos = [
			    {action:"Environmental Engineering, ECUST",complete:true},
			    {action:"Chemical Engineering, UMich",complete:true},
			    {action:"Computer Science, Gatech",complete:true},
			    {action:"Computational Finance, UW",complete:false},
			    {action:"Electrical Engineering, UCLA",complete:false},
			    {action:"Material Science and Engineering, Columbia",complete:false},
			    {action:"Mechanical Engineering, MIT",complete:false},
			    {action:"Biology, RWTH",complete:false},
			    {action:"Civil Engineering, HKUST",complete:false}];

		    $scope.addNewItem = function(newItem){
				$scope.todos.push({
					action:newItem.action + " ("+newItem.location+")",
					complete:false;
				});
			};
		});
	</script>
</head>

<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header">
			To Do List
			<span class="label label-info">
				{{(todos | filter:{complete:'false'}).length}}
			</span>
		</h3>
		
		<!-- <table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Action</th>
					<th>Done</th>
				</tr>
			</thead>
			
			<tr ng-repeat="item in todos">
				<td>{{$index+1}}</td>
				<td>{{item.action}}</td>
				<td>{{item.complete}}</td>
				<td>
					<input type="checkbox" ng-model="item.complete">
				</td>
			</tr>
			
		</table> -->
		
		<div class="row">
			<div class="col-xs-6">
				<div class="well">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>